langgraph
langgraph-prebuilt
langgraph-sdk
langsmith>=0.1.0
langchain-community
langchain-core
langchain-ollama
langchain-tavily
langchain-pinecone
pinecone-client
pydantic
typing_extensions
kokoro-onnx
soundfile
numpy
onnxruntime
python-dotenv
langchain-openrouter